*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.wrapper{
    width: 100vw;
    height: 100dvh;
    border: 2px solid black;
}

.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 255, 0.541) 15%, rgba(156, 53, 74, 0.548) 65%, rgb(55, 166, 0, 0.788) );
}

.navbar{
    width: 100%;
    height: 11%;
    border: 1px solid yellow;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 30px;
    position: relative;
    top: 0;
    left: 0;
}

.left-cont ul li{
    list-style: none;
}
.list{
    border: 1px solid red;
    width: 13%;
    height: 34%;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 162px;
}

.left-cont{
    width: 25%;
    height: 38%;
    border: 1px solid black;

    display: flex;
    justify-content: space-between;
}

.sign{
    position: absolute;
    right: 50px;
}

.sign ul{
    display: flex;
    
}